<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spacetravel.mapper.UserMapper">

	<resultMap type="UserDTO" id="UserResult">
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="regdate" property="regdate" />
		<result column="update_date" property="updateDate" />
		<result column="rolename" property="rolename" />
	</resultMap>

	<insert id="insertUser" parameterType="UserDTO">
		<![CDATA[
			INSERT INTO user_tb (
					  username
					, password
			) VALUES (
					  #{username}
					, #{password}
			);
		]]>
	</insert>
	
	<select id="findByUsername" parameterType="String" resultMap="UserResult">
		<![CDATA[
			SELECT * FROM user_tb WHERE username = #{username};
		]]>
	</select>
	
	<select id="usernameDuplicateCheck" parameterType="String" resultType="String">
		<![CDATA[
			SELECT username FROM user_tb WHERE username = #{username};
		]]>
	</select>
	
	<select id="selectOnePasswordByUsername" parameterType="String" resultType="String">
		<![CDATA[
			SELECT password FROM user_tb WHERE username = #{username};
		]]>
	</select>
	
	<update id="updatePassword" parameterType="UserDTO">
		<![CDATA[
			UPDATE user_tb SET password = #{password} WHERE username = #{username};
		]]>
	</update>
	
	<delete id="deleteUser" parameterType="String">
		<![CDATA[
			DELETE FROM user_tb WHERE username = #{username};
		]]>
	</delete>
	
	<select id="findUserDate" parameterType="String" resultType="Date">
		<![CDATA[
			SELECT regdate FROM user_tb WHERE username = #{username};
		]]>
	</select>
	
</mapper>