#site_title {
	float: none;
}

#site_title a {
	display: block;
	width: 180px;
	height: 35px;
	color: #fff;
	text-indent: -10000px;
	background: url(../images/spaceTravelLogo.png) no-repeat;
	background-size: contain;
}

@media (max-width: 768px){
  #site_title a{
    width: 140px;   /* 또는 120px */
    height: 32px;
  }
}

#menu {
	width: 560px;
	height: 40px;
	margin-top: 30px;
	margin-left: 40px;
	background: url(../images/tooplate_menu.png) no-repeat
}

#content {
	clear: both;
	margin-bottom: 40px;
	background-color: black;
	border-radius: 20px;
}

@media only screen and (min-width: 400px) {
	#content2 {
		clear: both;
		height: 770px;
		margin-bottom: 40px;
		object-fit: fill;
	}
};

.content_section {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #ccc
}

#footer {
	clear: both;
	padding: 0 40px;
}

#footer_left {
	float: left;
	display: inline;
	text-align: left
}

#footer a {
	color: mediumaquamarine;
}

#social_box {
	float: right;
	height: 85px;
	padding: 0;
}

#social_box a {
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
}

.navbar .nav-link{
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}

.navbar .nav-link.selected, .navbar a:hover{
	color:#f6bf34;
}

ul.adminNav {
	list-style: none;
}

ul.adminNav li {
	display: inline;
	margin: 0;
	padding: 0;
}

ul.adminNav a {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	background: url(../images/tooplate_menu_divider.png) no-repeat center right;
}

ul.adminNav a:hover,
ul.adminNav a.selected {
	color: mediumaquamarine;
}


/*페이지 버튼*/
ul.pagination a {
	background: #1b1a1a;
	color: #aaa;
}

ul.pagination a:hover,
ul.pagination li.selected a {
	text-decoration: none;
	color: mediumaquamarine;
}

.hide {
	display: none;
}

/*NASA api APOD videoButton*/
.videoButton{
	border: 1px solid lightpink;
	width: 60%;
	font-size: 20px;
}
.videoButton:hover{
	text-decoration: none;
	background-color: lightpink;
	color: black;
	transition: all .35s;
}