#slider {
    position: relative;
	width: 100%;
}

#tooplate_wrapper {
	width: 780px;
	margin: 0 auto;
	background: url(../images/tooplate_body.jpg) top center no-repeat
}

#tooplate_header {
	width: 780px;
	height: 100px;
	margin-bottom: 50px;
}

#site_title { 
	float: left; 
}

#site_title a { 
	display: block; 
	width: 180px; 
	height: 35px; 
	color: #fff; 
	text-indent: -10000px; 
	background: url(../images/spaceTravelLogo.png) no-repeat; 
}

#menu {
	width: 560px;
	height: 40px;
	margin-top: 30px;
	margin-left: 40px;
	background: url(../images/tooplate_menu.png) no-repeat
}

#content {
	clear: both;
	width: 780px;
	height: 470px;	
	margin-bottom: 40px;
	background: url(../images/tooplate_content_bg.png)
}

#content2 {
	clear: both;
	width: 900px;
	height: 770px;	
	margin-bottom: 40px;
	object-fit: fill;
	background: url(../images/spaceLandscape1.jpg)
}

.content_section {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #ccc
}

.last_section {
	margin: 0;
	padding: 0;
	border: 0;
}

#footer {
	clear: both;
	padding: 0 40px;
}

#footer_left { 
	float: left;
	display: inline;
	text-align: left
}

#footer a {
	color: mediumaquamarine;
}

#social_box {
	float: right;
	height: 85px;
	padding: 0;
	
}

#social_box a {
	display: inline-block;
	margin-left: 20px;
	width: 60px; height: 60px;
}

.scroll {
    height: 470px;
    width: 780px;
    overflow: auto;
    /* overflow-x: hidden; */
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    height: 350px;
    width: 700px;
	padding: 40px;
	overflow: hidden;
}

ul.navigation {
    list-style: none;
	margin: 0;
    padding: 0;
}

ul.navigation li {
    display: inline;
    margin: 0;
	padding: 0;
}

ul.navigation a {
	float: left;
	display: block;
	width: 100px;
	height: 32px;
	padding: 10px 2px 0 0;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
    text-decoration: none;
	background: url(../images/tooplate_menu_divider.png) no-repeat center right;
}

ul.adminNav {
    list-style: none;
}

ul.adminNav li {
    display: inline;
    margin: 0;
	padding: 0;
}

ul.adminNav a {
	width: 130px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
    text-decoration: none;
    vertical-align: middle;
	background: url(../images/tooplate_menu_divider.png) no-repeat center right;
}

ul.navigation2 {
    list-style: none;
	margin: 0;
    padding: 0;
}

ul.navigation2 .nav-item {
    display: inline;
    margin: 0;
	padding: 0;
}

ul.navigation2 .nav-link {
	float: left;
	display: block;
	width: 100px;
	height: 32px;
	padding: 10px 2px 0 0;
	color: mediumaquamarine;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
    text-decoration: none;
}
/*페이지 버튼*/
ul.pagination a {
    background: #1b1a1a; 
	color: #aaa;
}
ul.pagination a:hover, ul.pagination li.selected a {
	text-decoration: none;
	color: mediumaquamarine;
}

#login {
	color: darkorchid;
}

#login.nav-link:hover, #login.nav-link.selected {
	 color: #f6bf34;
 }

ul.navigation a:hover, ul.navigation a.selected {
	color: #f6bf34;
}

ul.adminNav a:hover, ul.adminNav a.selected {
	color: mediumaquamarine;
}

ul.navigation2 a:hover {
	color: darkorchid;
	text-decoration: none;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.scrollButtons.left {
    left: 0
}

.scrollButtons.right {
    right: 0
}

.hide {
    display: none;
}

