<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{tpl/tpl_fragments :: tpl_head( title='비밀번호 변경 페이지' )}" />
	
	<body class="sticky">
		<nav th:replace="~{tpl/tpl_fragments :: tpl_nav ( ' ' ) }" />
	
		<main class="mb-4 jua-font">
			<div class="container">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div id="contact_form" class="col-10 col-md-6 col-lg-4 col-xl-4">
						<h1 class="mt-5 jua-font">비밀번호 변경</h1>
	
						<h3>
							<div class="badge text-bg-danger bg-opacity-75 jua-font" th:text="${msg}">비밀번호 확인 메시지</div>
						</h3>
						<form th:action="@{/user/changePasswordOk}" method="post">
							<div class="form-floating mb-3">
								<input type="password" id="currentPassword" name="currentPassword" class="form-control input_field pt-4 ps-2" placeholder="currentPassword" />
								<label for="currentPassword">현재 비밀번호</label>
							</div>
							<div class="form-floating mb-3">
								<input type="password" id="newPassword" name="newPassword" class="form-control input_field pt-4 ps-2" placeholder="newPassword" />
								<label for="newPassword">새 비밀번호</label>
							</div>
							<div class="form-floating mb-1">
								<input type="password" id="confirmPassword" name="confirmPassword" class="form-control input_field pt-4 ps-2" placeholder="samePassword" />
								<label for="samePassword">새 비밀번호 확인</label>
							</div>
							<div id="pwConfirm" class="ps-2" style="font-size: 18px;">비밀번호를 입력하세요</div>
							<div class="pt-4">
								<input type="submit" class="submit_btn mb-5" value="변경" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
	
		<footer th:replace="~{tpl/tpl_fragments :: tpl_footer}" />
	</body>
	<script th:src="@{/js/pages/change-password.js}"></script>

</html>