<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{tpl/tpl_fragments :: tpl_head( title='비밀번호 변경 페이지' )}" />
	
	<script type="text/javascript">
		/* 비밀번호 실시간 재확인 (글자만 출력) */
		function pwCheck(){
		    if($('#newPassword').val() == $('#confirmPassword').val()){
		        $('#pwConfirm').text('비밀번호 일치').css('color', 'green')
		    }else{
		        $('#pwConfirm').text('비밀번호 불일치').css('color', 'red')
		    }
			if($('#newPassword').val().length < 8 || 20 < $('#newPassword').val().length){
				$('#pwConfirm').text('비밀번호는 8~20자, 영문자, 숫자, 특수문자를 모두 포함하여 입력해주세요');
			}
		}
		
		function valid(){
			var passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{8,20}$/;
			
			var currentPw = $("#currentPassword").val();
			var newPassword = $("#newPassword").val();
			var confirmPw = $("#confirmPassword").val();
			/* 기존 비밀번호 유효성 검사 */
			if(false === passwordRegex.test(currentPw)){
				alert('비밀번호는 8~20자, 영문자, 숫자, 특수문자를 모두 포함하여 입력해주세요.');
				$('#currentPassword').focus();
				return false;
			}
			
			/* 새 비밀번호 유효성 검사 */
			if(false === passwordRegex.test(newPassword)){
				alert('비밀번호는 8~20자, 영문자, 숫자, 특수문자를 모두 포함하여 입력해주세요.');
				$('#currentPassword').focus();
				return false;
			}
			if(newPassword != confirmPw){
				alert('비밀번호가 일치하지 않습니다.');
				$('#currentPassword').focus();
				return false;
			}
		}
	</script>
	
	<body>
		<nav th:replace="~{tpl/tpl_fragments :: tpl_nav ( ' ' ) }" />
		
		<main class="mb-4 jua-font">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div id="contact_form" class="col-md-10 col-lg-8 col-xl-7 ps-5">
						<h1 class="mt-5 jua-font">비밀번호 변경</h1>
						
						<h3><div class="badge text-bg-danger bg-opacity-75 jua-font" th:text="${msg}">비밀번호 확인 메시지</div></h3>
						<form th:action="@{/user/changePasswordOk}" method="post" onsubmit="return valid()">
							<div class="form-floating mb-3">
								<input class="form-control input_field pt-4 ps-2" type="password" name="currentPassword" id="currentPassword" placeholder="currentPassword"/>
								<label for="currentPassword">현재 비밀번호</label>
							</div>
							<div class="form-floating mb-3">
								<input class="form-control input_field pt-4 ps-2" type="password" name="newPassword" id="newPassword" oninput="pwCheck()" placeholder="newPassword"/>
								<label for="newPassword">새 비밀번호</label>
							</div>
							<div class="form-floating mb-1">
								<input class="form-control input_field pt-4 ps-2" type="password" name="confirmPassword" id="confirmPassword" oninput="pwCheck()" placeholder="samePassword"/>
								<label for="samePassword">새 비밀번호 확인</label>
							</div>
							<div id="pwConfirm" class="ps-2" style="font-size: 18px;">비밀번호를 입력하세요</div>
							<div class="pt-4">
								<input class="submit_btn mb-5" type="submit" value="변경" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>
		
		<footer th:replace="~{tpl/tpl_fragments :: tpl_footer}" />
	</body>
</html>