<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="~{tpl/tpl_fragments :: tpl_head( title='연락처' )}" />
	
	<body>
		<nav th:replace="~{tpl/tpl_fragments :: tpl_nav ( 'contact' ) }" />
		
		<header th:replace="~{tpl/tpl_fragments :: tpl_header ( htitle = '연락처', hcontent = ' ')}" />
		
		<main id="content" class="col-sm-7 container mb-4 jua-font">
            <div class="justify-content-center">
		        <div class="container-md text-center">
					<div class="panel" id="contact">
			            <h1 class="pt-4 jua-font">오류 문의</h1>
						<div>
							<h3 class="jua-font">📧 이메일(Email Address)</h3>
							<div class="read_content pb-4">ㅇㅇㅇ@naver.com</div>
						</div>
			  		</div>
			  	</div>
            </div>
        </main>
          
    	<footer th:replace="~{tpl/tpl_fragments :: tpl_footer}" />
	</body>
</html>